.content_wrapper {
	margin-inline: 1rem;
	max-width: var(--main-content-wrapper);
}
@media screen and (min-width: 1024px) {
	.content_wrapper {
		margin-inline: auto;
	}
}

.flex_center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.text_center {
	text-align: center;
}

.bg_highlight {
	background-color: var(--color-bg-highlight);
}

.round_top {
	border-radius: var(--radius-md) var(--radius-md) 0 0;
}

.round_bottom {
	border-radius: 0 0 var(--radius-md) var(--radius-md);
}