.tooltip {
	align-items: center;
	display: inline-flex;
	justify-content: center;
	position: relative;
}

.tooltip__trigger {
	background: none;
	border: none;
	cursor: pointer;
	height: 0.875rem;
	padding: 0;
	width: 0.875rem;
}

.tooltip__trigger svg {
	display: block;
}

.tooltip__content {
	background-color: var(--color-white);
	outline: 1px solid rgba(20, 20, 20, 0.08);
	border-radius: var(--radius-sm);
	box-shadow: 0px 8px 8px 0px rgba(20, 20, 20, 0.08);
	color: var(--color-text);
	font-size: var(--font-sm);
	left: 100%;
	padding: 0.5rem 0.75rem;
	position: absolute;
	text-align: center;
	bottom: 100%;
	width: 17.5rem;
	z-index: 10;
}

.tooltip__content p {
	font-weight: 400;
	margin: 0;
}
